@import "tailwindcss";

@theme {
  --color-primary-1: hsl(38, 100%, 49%);
  --color-primary-2: hsl(38, 100%, 70%);
  --color-primary-3: hsl(38, 100%, 90%);
  --color-primary-4: hsl(30, 100%, 15%);

  --font-barcode: 'Libre Barcode 128 Text', sans-serif;
}

:root {
  background-color: hsl(36, 33%, 97%);
  min-width: 375px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: hsl(38, 100%, 100%);
}

::-webkit-scrollbar-thumb {
  background: hsl(38, 100%, 0%);
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(38, 100%, 49%);
}