@import "tailwindcss";

@theme {
  --color-primary-1: hsl(280, 50%, 60%);
  --color-primary-2: hsl(280, 55%, 75%);
  --color-primary-3: hsl(280, 55%, 85%);
  --color-primary-4: hsl(30, 100%, 15%);

  --font-barcode: 'Libre Barcode 128 Text', sans-serif;
}

:root {
  background-color: hsl(0, 0%, 96%);
  min-width: 375px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: hsl(38, 100%, 100%);
}

::-webkit-scrollbar-thumb {
  background: hsl(38, 100%, 0%);
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(38, 100%, 49%);
}