@import "tailwindcss";

@theme {
  --color-primary-1: #fa9e00;
  --color-primary-2: #ffbe4d;
  --color-primary-3: #ffeccc;
  --color-primary-4: #4d2700;
}

:root {
  background-color: #f9f7f3;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #8f3717;
}

::-webkit-scrollbar-thumb {
  background: #ffeccc;
}

::-webkit-scrollbar-thumb:hover {
  background: #fa9e00;
}